# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\C++\C++_repository\zero-one-psisys\psi-cpp\arch-demo codebase based on best match to current usage at 2023/2/13/周一
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

