<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.payablemanagement.mapper.FinPayableCheckEntryMapper">

    <resultMap id="BaseResultMap" type="entity.FinPayableCheckEntry">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="mid" column="mid" jdbcType="VARCHAR"/>
            <result property="billNo" column="bill_no" jdbcType="VARCHAR"/>
            <result property="entryNo" column="entry_no" jdbcType="INTEGER"/>
            <result property="srcBillType" column="src_bill_type" jdbcType="VARCHAR"/>
            <result property="srcBillId" column="src_bill_id" jdbcType="VARCHAR"/>
            <result property="srcEntryId" column="src_entry_id" jdbcType="VARCHAR"/>
            <result property="srcNo" column="src_no" jdbcType="VARCHAR"/>
            <result property="checkSide" column="check_side" jdbcType="VARCHAR"/>
            <result property="amt" column="amt" jdbcType="DECIMAL"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="custom1" column="custom1" jdbcType="VARCHAR"/>
            <result property="custom2" column="custom2" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,mid,bill_no,
        entry_no,src_bill_type,src_bill_id,
        src_entry_id,src_no,check_side,
        amt,remark,custom1,
        custom2,version
    </sql>
</mapper>
