<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.basedetail.mapper.customermanagement.CustomerMapper">
    <resultMap id="CustomerResultMap" type="com.zeroone.star.basedetail.entity.customermanagement.Customer">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="address" column="address"/>
        <result property="area" column="area"/>
        <result property="attachment" column="attachment"/>
        <result property="auxName" column="aux_name"/>
        <result property="bizArea" column="bizArea"/>
        <result property="createBy" column="createBy"/>
        <result property="createTime" column="createTime"/>
        <result property="creditQuota" column="creditQuota"/>
        <result property="financialContacts" column="financialContacts"/>
        <result property="financialPhone" column="financialPhone"/>
        <result property="headquarters" column="headquarters"/>
        <result property="invoiceAccount" column="invoiceAccount"/>
        <result property="invoiceAddress" column="invoiceAddress"/>
        <result property="invoiceBankCode" column="invoiceBankCode"/>
        <result property="invoiceBankName" column="invoiceBankName"/>
        <result property="invoiceCompany" column="invoiceCompany"/>
        <result property="invoicePhone" column="invoicePhone"/>
        <result property="invoiceTaxCode" column="invoiceTaxCode"/>
        <result property="isEnabled" column="isEnabled"/>
        <result property="legalPerson" column="legalPerson"/>
        <result property="legalPersonPhone" column="legalPersonPhone"/>
        <result property="paymentAccount" column="paymentAccount"/>
        <result property="paymentBankCode" column="paymentBankCode"/>
        <result property="paymentBankName" column="paymentBankName"/>
        <result property="paymentCompany" column="paymentCompany"/>
        <result property="recvAddress" column="recvAddress"/>
        <result property="recvEmail" column="recvEmail"/>
        <result property="recvFax" column="recvFax"/>
        <result property="recvName" column="recvName"/>
        <result property="recvPhone" column="recvPhone"/>
        <result property="recvPostcode" column="recvPostcode"/>
        <result property="remark" column="remark"/>
        <result property="shortName" column="shortName"/>
        <result property="taxScale" column="taxScale"/>
        <result property="updateBy" column="updateBy"/>
        <result property="updateTime" column="updateTime"/>
        <result property="version" column="version"/>
        <result property="website" column="website"/>
        <!--association property="customerCategory" javaType="com.zeroone.star.systemmanagement.entity.customermanagemnet.CusCategory" column="customer_category">
            <id property="cate_id" column="id"/>
            <id property="cate_name" column="name"/>
        </association>
        <association property="customerLevel" javaType="com.zeroone.star.systemmanagement.entity.customermanagemnet.CusLevel">
            <id property="level_id" column="id"/>
            <id property="level_name" column="name"/>
        </association-->
     </resultMap>
    <select id="getCustomerById" resultMap="CustomerResultMap">
        SELECT  b_s.id ,b_s.code as code,b_s.name as name ,b_s.short_name,b_s.aux_name,b_s.tax_scale,b_s.credit_quota,b_s.headquarters,b_s.area,b_s.biz_area,b_s.address
                       ,b_s.website,b_s.legal_person,b_s.legal_person_phone,b_s.financial_contacts,b_s.financial_phone
                       ,b_s.invoice_company,b_s.invoice_tax_code,b_s.invoice_bank_name,b_s.invoice_bank_code
                       ,b_s.invoice_account,b_s.invoice_phone,b_s.invoice_address,b_s.payment_company,b_s.payment_bank_name
                       ,b_s.payment_bank_code,b_s.payment_account,b_s.recv_name,b_s.recv_phone,b_s.recv_fax,b_s.recv_email
                       ,b_s.recv_address,b_s.recv_postcode,b_s.attachment,b_s.is_enabled,b_s.remark,b_s.create_by,
            b_s.create_time,b_s.update_by,b_s.update_time,b_s.version
        FROM bas_customer b_s
        WHERE b_s.id = #{id}
    </select>
    <select id="getByCondition"
            resultType="com.zeroone.star.basedetail.entity.customermanagement.Customer"></select>
    <select id="selectByPage" resultType="com.zeroone.star.basedetail.entity.customermanagement.Customer"></select>
</mapper>
