<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.titlepage.mapper.HomeDoingBillMapper">

    <!--HomeDoingBill selectbyName(String name);-->
    <select id="selectbyName" resultType="com.zeroone.star.titlepage.entity.HomeDoingBill">
        select * from home_doing_bill b where b.name=#{name}
    </select>
</mapper>
